body {
  margin: 0;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
body * {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.donut-container {
  width: 120px;
  height: 120px;
}

.donut-ring,
.donut-segment {
  stroke-width: 4;
}

.donut-segment {
  /* animation-name: animate-dash; */
  transition: 1s;
}

/* 
 * Omit the 'to' or '100%' declaration from '@keyframes' 
 * to animate up to the value  set by the inline style.
 * See: https://css-tricks.com/animate-to-an-inline-style/ 
 */
@keyframes animate-dash {
  0% {
    stroke-dasharray: 0, 100;
  }
}
