:root {
  --midnight: #071037;
  --steelblue: #123764;
  --seagreen: #1e6499;
  --golden: rgb(219, 219, 112);
}
body {
  margin: 0;
}
.page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: black;
}

.wrapper {
  overflow: hidden;
  position: relative;
  height: 80%;
  background: linear-gradient(
    var(--midnight),
    var(--steelblue),
    var(--seagreen),
    var(--golden)
  );
  /* box-shadow: inset 0px -70px 0px black; */
}

.big-title {
  position: absolute;
  top: 10%;
  font-size: 3.5rem;
  font-family: 'Pacifico', cursive;
  color: var(--golden);
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

.wheel {
  width: 350px;
  position: absolute;
  top: calc(100% - 310px);
  left: 50%;
  transform: translateX(-50%);
}

.rim,
.inner-ring {
  position: absolute;
  content: '';
  display: block;
  box-sizing: border-box;
  border-radius: 999px;
}

.rim {
  top: -6px;
  left: calc(50% - 133px);
  border: 6px double black;
  width: 272px;
  height: 272px;
}

/* .inner-ring {
        top: 43px;
        left: calc(50% - 85px);
        border: 4px double black;
        width: 172px;
        height: 172px;
      } */

.hub {
  position: absolute;
  background-color: black;
  border: 4px double rgba(255, 255, 255, 0.6);
  width: 28px;
  height: 28px;
  border-radius: 99px;
  top: 112px;
  left: calc(50% - 16px);
}
.hub::before,
.hub::after {
  position: absolute;
  display: block;
  content: '';
  background-color: black;
  width: 6px;
  height: 180px;
  transform-origin: top;
}
.hub::before {
  transform: translate(16px, 16px) rotate(-22deg);
}
.hub::after {
  transform: translate(6px, 16px) rotate(22deg);
}

.base {
  position: absolute;
  top: 288px;
  left: calc(50% - 106px);
  width: 212px;
  height: 22px;
  background-color: black;
}

/* Inspired and borrowed from:
   https://colourarchive.wordpress.com/2014/07/17/css-rotation-animation/
 */
.spoke {
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0 auto;
  width: 4px;
  height: 260px;
  background: black;
}

.spoke::before,
.spoke::after {
  position: absolute;
  left: -9px;
  display: block;
  content: '';
  width: 22px;
  height: 22px;
  border-radius: 99px;
  background-color: black;
}

.spoke::before {
  top: -14px;
}
.spoke::after {
  bottom: -14px;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@keyframes rotate4 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes rotate5 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@keyframes rotate6 {
  0% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(510deg);
  }
}

.spoke1 {
  animation: rotate1 15s linear infinite;
}
.spoke2 {
  animation: rotate2 15s linear infinite;
}
.spoke3 {
  animation: rotate3 15s linear infinite;
}
.spoke4 {
  animation: rotate4 15s linear infinite;
}
.spoke5 {
  animation: rotate5 15s linear infinite;
}
.spoke6 {
  animation: rotate6 15s linear infinite;
}
